@model IEnumerable<Mercury_WebApp.Models.Finantialcondition>

@{
    ViewData["Title"] = "Index";
}

<h1>Finantial Conditions</h1>

<p>
    <a asp-action="Create">Create New</a> | 
    <a asp-controller="Employee" asp-action="Create">Add New Employee</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Startdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enddate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FinantialconditionId">Edit</a> |
                <a asp-controller="Salarypackage" asp-action="View" asp-route-id="@item.FinantialconditionId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
