@model List<Mercury_WebApp.Models.Resume>
@{
    ViewData["Title"] = "Mercury - Home Page";
}

<form asp-controller="Home" asp-action="Index">
    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4 searchbox">
        <div class="input-group">
            <input name="SearchString" type="search" placeholder="Search for an employee or a client..." aria-describedby="button-addon1" class="form-control border-0 bg-light" value="@(ViewBag.searchString ?? String.Empty)">
            <div class="input-group-append">
                <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Employee
            </th>
            <th>
                Client
            </th>
            <th>
                Revenue
            </th>
            <th>
                Cost
            </th>            
            <th>
                Margin
            </th>
        </tr>
    </thead>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Revenue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Margin)%
            </td>
        </tr>
    }
</table>