@model IEnumerable<Mercury_WebApp.Models.Allocation>

@{
    ViewData["Title"] = "Index";
}

<h1>Allocations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                Client
            </th>
            <th>
                Day Rate
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dayrate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Startdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enddate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AllocationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AllocationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AllocationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
