@model IEnumerable<Mercury_WebApp.Models.Config>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Keyname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Keyvalue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Startdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enddate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Keyname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Keyvalue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Startdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enddate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ConfigId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ConfigId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ConfigId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
